{% load static %}

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
    </button>
    {% if user == True %}
        <a class="btn btn-secondary" href="{% url 'usuarios:logout' %}">Logout</a>
    {% endif %}

    {% comment %} Botoes do modo noturno
    <button type="button" onclick="darkModeMoon()" id="moon" class="btn btn-secondary" style="display:none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"></path>
        </svg>
    </button>
    <button type="button" onclick="darkModeSun()" id="sun" aria-label="night-mode" class="btn btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
            <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
        </svg>
    </button> {% endcomment %}

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'core:index' %}">Cejorima IPTV <span class="sr-only">(Página atual)</span></a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cadastro
                </a>
                <div class="dropdown-menu white" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item white" href="{% url 'core:cadastrar-venda' %}">Cadastro Venda</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item white" href="{% url 'core:cadastrar-box' %}">Cadastro Box</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item white" href="{% url 'core:cadastrar-dispositivos' %}">Configurar Duplex</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item white" href="{% url 'usuarios:cadastroCliente' %}">Cadastro de Cliente</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Listagens
                </a>
                <div class="dropdown-menu white" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item white" href="{% url 'core:listar-box' %}">Listar Box</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item white" href="{% url 'core:listar-duplex' %}">Listar Duplex</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item white" href="{% url 'usuarios:listar-clientes' %}">Listar Cliente</a>
                </div>
            </li>
    
        </div>
    </div>
</nav><br><br>

{% comment %} 
Função de JS para por no modo norturno
<script>
    function darkModeSun(){
        document.getElementById("sun").style.display = 'None'
        document.getElementById("moon").style.display = 'block'
        const html = document.querySelector('html')
        html.setAttribute("dark", "true")
    }

    function darkModeMoon(){
        document.getElementById("sun").style.display = 'block'
        document.getElementById("moon").style.display = 'none'
    }
</script> {% endcomment %}