<!-- Modal -->
<div class="modal fade white" id="CenterAprovar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Aprovar venda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>    
            </div>
            <div class="modal-body">
                Você tem certeza que deseja salvar?
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary col-md-12" type='submit'>salvar</button><br>
            </div>
        </div>
    </div>
</div>