.container{
    margin-top: 3%;
}

html[dark] .cards .card p{
    background-color: black;
    color: aliceblue;
  }

  html[white] .cards .card p{
    background-color: white;
    color: black;
  }

  html[dark] .button{
    color: white;
  }

/* .card{
    color: aliceblue;
    background-color: black;
} */
/* 
.dark{
    background-color: black;
    color: aliceblue;
} */

tr{
    display: block;
}

.white{
    background-color: black;
    color: aliceblue;
}

#avisoCompra{
    margin-top: 25%;
}

#cardProdutos{
    max-height:700px;
    max-width: 1300px;
    overflow-y:auto;
}

#produtos{
    max-height:150px;
    overflow-y:auto;
}

#botaoCaixa{
    align-items: center;
}

.card-body{
    text-align: center;
}

#error{
    color: red;
}
