.container{
    margin-top: 3%;
}
body{
    color: aliceblue;
    background-color: black;
}

.card{
    color: aliceblue;
    background-color: black;
}

.dropdown-menu{
    color: aliceblue;
    background-color: black;
}

.dropdown-item{
    color: aliceblue;
    background-color: black;
}

#avisoCompra{
    margin-top: 25%;
}

.modal-header{
    color: aliceblue;
    background-color: black;
}
.modal-body{
    color: aliceblue;
    background-color: black;
}
.modal-footer{
    color: aliceblue;
    background-color: black;
}

#cardProdutos{
    max-height:700px;
    max-width: 1300px;
    overflow-y:auto;
}

#produtos{
    max-height:150px;
    overflow-y:auto;
}

#botaoCaixa{
    align-items: center;
}

.card-body{
    color: aliceblue;
    background-color: black;
    text-align: center;
}

#error{
    color: red;
}
