{% extends 'partials/base.html' %}

{% block title %} Configurar Duplex {% endblock %}


{% block content %}
    <br>
    <div class= 'container col-md-8' >
        <center>
            <h1>Configurar Duplex</h1><br>
            <div class="card col-md-6 col-sm-12 col-xs-12 col-lg-6">
                <div class="card-body"><br>
                    <form method="POST">
                        {% csrf_token %}
                        {% for campo in form.visible_fields %}
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
                                    {% if campo.erros %}
                                        <div class="alert-danger" align="center">
                                            {% for error in campo.errors %}
                                                {{ error|striptags }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {{ campo }}
                                </div>
                            </div>
                        {% endfor %}
                        {% include 'partials/modalAprovar.html' %}
                        <br>
                        <button type="button" class="btn btn-primary row col-md-12 col-sm-12 col-xs-12 col-lg-6" data-toggle="modal" data-target="#CenterAprovar">Salvar</button>
                        {% comment %} <br>
                        <br><a class="btn btn-primary row col-md-12 col-sm-12 col-xs-12 col-lg-6" href="http://127.0.0.1:8000/">Retornar</a> {% endcomment %}
                    </form>
                </div>
            </div>
        </center>
    </div>

{% endblock %}