{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container col-lg-6 col-sm-10 col-xs-10">
        <div class= "row">
            <h1>Planilha de Vendas</h1>
            {% comment %} <a class="btn btn-primary" onclick="ExportXLSX();" id="btnExport" >Visualizar</a> {% endcomment %}
        </div>
        <div class="card" id="cardProdutos">
            <div class="card-body">
                {% comment %} Tentar fazer funcionar a buscar {% endcomment %}
                <div class= "buscar">
                    <input class="form-control mr-sm-2" id="search" type="search" placeholder="Pesquisar" name="pesquisa" aria-label="Pesquisar">
                </div>
                <table class="container table col-lg-12 col-sm-12 col-xs-12" id="dados">
                    <thead>
                    <tr>
                        <th class="d-none d-sm-table-cell" scope="col">id</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Tipo</th>
                        <th class="d-none d-sm-table-cell" scope="col">Device_ID</th>
                        <th class="d-none d-sm-table-cell" scope="col">Device_Key</th>
                        <th class="d-none d-sm-table-cell" scope="col">Situação</th>
                        <th class="d-none d-sm-table-cell" scope="col">Pagamento</th>
                        <th class="d-none d-sm-table-cell" scope="col">App</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for item in venda %}
                        <tbody>
                            <tr>
                                <td class="d-none d-sm-table-cell" scope="row">{{ item.id }}</td>
                                <td>{{ item.cliente }}</td>
                                <td>{{ item.tipo }}</td>
                                <td class="d-none d-sm-table-cell" scope="row">{{ item.produto.device_ID }}</td>
                                <td class="d-none d-sm-table-cell" scope="row">{{ item.produto.device_KEY }}</td>
                                <td class="d-none d-sm-table-cell" scope="row">{{ item.produto.situacao }}</td>
                                <td class="d-none d-sm-table-cell" scope="row">{{ item.pagamento }}</td>
                                <td class="d-none d-sm-table-cell" scope="row">{{ item.aplicativo }}</td>
                                <td><a class="btn btn-primary" href="{% url 'core:visualizar-venda' %}?id={{ item.id }}">Visualizar</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>    
    <script>
        var $rows = $('#dados tr');
        $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    </script>
    
{% endblock %}