{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container col-lg-5 col-sm-5 col-xs-5">
        <h1>Clientes</h1>
        <div class="card" id="cardProdutos">
            <div class="card-body">
                <form>
                    <form class="form-inline" action="." method="GET">
                        <input class="form-control mr-sm-2" type="search" id="search" placeholder="Pesquisar" name="pesquisa" aria-label="Pesquisar">
                    </form>
                </form>
                <table class="container table col-lg-12 col-sm-10 col-xs-10" id= "dados">
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Telefone</th>
                        <th class="d-none d-lg-table-cell" scope="col">Endereco</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    {% for item in cliente %}
                        <tbody>
                            <tr>
                                <td>{{ item.nome }}</td>
                                <td>{{ item.telefone }}</td>
                                <td class="d-none d-lg-table-cell">{{ item.endereco }}</td>
                                <td><a class="btn btn-primary" href="{% url 'usuarios:cadastroCliente' %}?id={{ item.id }}">Editar</a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>    
    <script>
        var $rows = $('#dados tr');
        $('#search').keyup(function() {
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function() {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    </script>  
{% endblock %}